.wheel-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wheel {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  opacity: 0;

  font-size: 1px;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(4, 4, 19, 0.89);
  transition: font-size 1s, opacity 0.5s;

  /* transform: translateZ(0); */
}

.wheel--visible {
  opacity: 1;
}

.wheel__wrap {
  width: 1520em;
  height: 756em;
  display: flex;
  justify-content: space-between;
  margin: auto;

  background-image: url(../img/wheel-background-horizontal.png);
  background-repeat: no-repeat;
  background-position: 82% 86%;
  background-size: 1080em;
}

.wheel__reel {
  flex-shrink: 0;
}

.wheel__thanks {
  display: block;
  width: 425em;
  align-self: center;
  margin: 0;
  padding: 0;

  line-height: 43em;
  font-weight: 700;
  text-align: center;
  color: rgb(255, 255, 255);
}

.wheel__thanks-text {
  font-size: 36em;
}

.wheel__form {
  box-sizing: border-box;
  padding-top: 100em;
  padding-left: 6em;
  padding-right: 15em;
  padding-bottom: 105em;
  margin-left: 30em;
}

.wheel__title {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  padding: 0;
  padding-top: 1.6em;
  width: 20em;

  text-align: center;
  font-size: 30em;
  line-height: 1.28em;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.wheel__form-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} 

.wheel__authorization {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 450em;
  margin: 0 auto;
}

.wheel__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 0.7em;
  align-self: center;
  text-align: center;
  padding: 0.4em;
  border: none;

  background-color: rgb(2, 6, 12);
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 27em;
  line-height: 1.35em;
  font-weight: 400;
  color: rgb(255, 255, 255);
  border-radius: 0.4em;
  box-shadow:
    0 0 0 0.02em rgba(255, 255, 255, 0.7),
    0 0 0 0.04em rgba(255, 255, 255, 0.4),
    0 0 0 0.02em rgba(255, 255, 255, 0.4) inset;
}

.wheel__input--invalid {
  box-shadow:
    0 0 0 0.02em rgb(167, 26, 31),
    0 0 0 0.04em rgba(167, 26, 31, 0.6),
    0 0 0 0.02em rgba(167, 26, 31, 0.6) inset;
}

.wheel__input:focus {
  outline: none;
}

.wheel__input::placeholder {
  font-size: 1em;
  line-height: 1.5em;
  color: rgb(255, 255, 255);
}

.wheel__button {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  margin-top: 0.6em;
  padding: 0.6em;
  padding-top: 0.79em;
  border: none;
  border-radius: 0.45em;

  outline: none;
  cursor: pointer;
  background-color: rgb(204, 32, 39);
  font-weight: 400;
  font-size: 24em;
  line-height: 1em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.wheel__button:focus,
.wheel__button:hover {
  opacity: 0.7;
}

.wheel__button:active {
  opacity: 0.3;
}

.wheel__button:disabled {
  opacity: 1;
  background-color: rgb(86, 86, 86);
  cursor: default;
  color: rgb(145, 145, 145);
}

.wheel__privacy {
  align-self: flex-end;
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 28em;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 0.5em;
  padding-left: 2.8em;

  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20em;
  line-height: 1.3em;
  font-weight: 400;
  text-align: left;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-color: rgb(4, 9, 12);
  box-shadow: -0.1em 0 0 1em rgb(4, 9, 12);
}

.wheel__privacy::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2em;
  height: 2em;
  background-color: rgb(255, 255, 255);
  border-radius: 0.45em;
  opacity: 1;
}

.wheel__privacy:focus::before {
  outline: none;
}

.wheel__checkbox:checked~.wheel__privacy::before {
  background-image: url(../img/wheel-checkbox.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 1.5em;
}

.wheel__checkbox:disabled~.wheel__privacy {
  opacity: 0.6;
}

.wheel__privacy-link {
  text-decoration: none;
  color: rgb(204, 32, 39);
  position: relative;
}

.wheel__privacy-link::after {
   content: '';
  position: absolute;
  height: 0.05em;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: rgb(204, 32, 39);
  box-shadow: 0 -0.05em 0 0.02em rgba(204, 32, 39, 0.3);
}

.wheel__counter {
  display: block;
  width: 100%;
  min-height: 1.486em;
  text-align: center;
  align-self: flex-end;
  margin: 0;
  margin-bottom: 0.286em;
  padding: 0;

  font-size: 35em;
  line-height: 0.5em;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.wheel__close {
  width: 87em;
  height: 87em;
  padding: 0;
  align-self: flex-start;
  flex-shrink: 0;
  margin-top: 26em;
  margin-left: 2px;

  font-size: inherit;
  border: none;
  background: none;
  background-image: url(../img/wheel-btn-close.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
  cursor: pointer;
}

.wheel__close:focus,
.wheel__close:hover {
  outline: none;
  opacity: 0.7;
}

.wheel__close:active {
  opacity: 0.3;
}

.wheel--vertical .wheel__wrap {
  position: relative;
  width: 860em;
  min-height: 1400em;
  background-image: url(../img/wheel-background-vertical.png);
  background-size: 750em;
  background-position: 34% 50%;
}

.wheel--vertical .wheel__form {
  padding-top: 75em;
  padding-bottom: 60em;
  padding-left: 95em;
  padding-right: 60em;
  height: 1400em;
  width: 715em;
}

.wheel--vertical .wheel__form-wrap {
  flex-direction: column;
  justify-content: space-between;
}

.wheel--vertical .wheel__title {
  width: 19.35em;
  padding-top: 0;
  padding-right: 0.35em;
  margin-bottom: 1.5em;
}

.wheel--vertical .wheel__authorization {
  flex-grow: 1;
}

.wheel--vertical .wheel__privacy {
  margin-bottom: 0;
  box-shadow: -0.3em 0 0 0.4em rgb(4, 9, 12);
}

.wheel--vertical .wheel__reel {
  order: 1;
  position: absolute;
  bottom: 120em;
  left: 48%;
  transform: translateX(-50%)
}

.wheel--vertical .wheel__close {
  order: 1;
}

.wheel--vertical .wheel__thanks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;

  height: 580em;
  padding-top: 100em;
  margin-left: 200em;
  align-self: flex-start;
}

.wheel--initial .wheel__thanks,
.wheel--initial .wheel__title--confirm,
.wheel--initial .wheel__button--confirm,
.wheel--initial .wheel__counter,
.wheel--confirm .wheel__thanks,
.wheel--confirm .wheel__title--initial,
.wheel--confirm .wheel__button--spin,
.wheel--confirm .wheel__privacy,
.wheel--result .wheel__form {
  display: none;
}