.hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wheel {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;

  font-size: 1px;
  font-family: Montserrat, sans-serif;
  background-color: rgba(4, 4, 19, 0.89);
  transition: font-size 1s;

  /* transform: translateZ(0); */
}

.wheel__wrap {
  box-sizing: border-box;
  width: 1520px;
  display: flex;
  justify-content: space-between;
  margin: auto;

  background-image: url(../img/line-neon-desctop.png);
  background-repeat: no-repeat;
  background-position: 82% 86%;
  background-size: 1080px;
}

.wheel__reel {
  flex-shrink: 0;
}

.wheel__thanks {
  display: block;
  width: 373px;
  align-self: center;
  margin: 0;
  padding: 0;

  font-size: 36px;
  line-height: 43px;
  font-weight: 700;
  text-align: center;
  color: rgb(255, 255, 255);
}

.wheel__cloze {
  background-color: rgba(14, 201, 255, 0);
  border: none;
}

.wheel__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.wheel__title {
  margin: 0;
  padding: 0;

  font-size: 30px;
  line-height: 38px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.wheel__form {
  box-sizing: border-box;
  padding-top: 145px;
  padding-left: 60px;
  padding-right: 35px;
  padding-bottom: 100px;
}

.wheel__title {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 560px;
  margin-bottom: 60px;

  text-align: center;
}

.wheel__autorisation {
  box-sizing: border-box;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 85px;
}

.wheel__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 25px;
  text-align: center;
  padding: 10px;
  border: none;
  
  background-color: rgba(14, 201, 255, 0);
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 26px;
  line-height: 26px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.wheel__input::placeholder {
  font-size: 30px;
  line-height: 38px;
  color: rgb(255, 255, 255);
}

.wheel__button {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  
  outline: none;
  cursor: pointer;
  background-color: rgb(204, 32, 39);
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.wheel__button:focus,
.wheel__button:hover {
  opacity: 0.7;
}

.wheel__button:active {
  opacity: 0.3;
}

.wheel__button:disabled {
  opacity: 1;
  background-color: rgb(119, 122, 127);
  cursor: default;
}

.wheel__privacy {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 519px;
  padding: 0;
  margin: 0;
  padding-left: 50px;

  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.wheel__privacy::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgb(119, 122, 127);
  opacity: 1;
}

.wheel__privacy:focus::before,
.wheel__privacy:hover::before {
  opacity: 0.7;
}

.wheel__privacy:active::before {
  opacity: 0.3;
}

.wheel__checkbox:checked~.wheel__privacy::before {
  background-color: rgb(191, 233, 255);
}

.wheel__privacy-link {
  color: rgb(204, 32, 39)
}

.wheel__cloze {
  align-self: flex-start;
  padding-top: 20px;
}

.wheel__cloze:focus {
  outline: none;
}

.wheel__cloze:focus img,
.wheel__cloze:hover img {
  opacity: 0.7;
}

.wheel__cloze:active img {
  opacity: 0.3;
}

.wheel__cloze img {
  align-self: flex-start;
  cursor: pointer;
}

.wheel__booking-text {
  box-sizing: border-box;
  display: block;
  width: 345px;
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 0;

  text-align: center;
  font-size: 36px;
  line-height: 43px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.vertical {
  width: 825px;
  min-height: 1420px;
  flex-wrap: wrap;
  background-image: url(../img/line-neon-mobile.png);
  background-size: 715px;
  background-position: 34% 50%;
  position: relative;
}

.vertical .wheel__fieldset {
  height: 100%;
}
.vertical .wheel__fieldset-wrap {
  height: 97%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.vertical .wheel__form {
  padding-top: 110px;
  padding-bottom: 10px;
  padding-left: 115px;
  height: 1275px;
  width: 715px;
}

.vertical .wheel__wheel {
  order: 1;
  position: absolute;
  bottom: 120px;
  left: 48%;
  transform: translateX(-50%)
}

.vertical .wheel__autorisation {
  align-self: flex-start;
}

.vertical .wheel__privacy {
  align-self: flex-end;
}

.vertical .wheel__cloze {
  order: 1;
}

.vertical .wheel__thanks {
  box-sizing: border-box;
  margin-left: 215px;
  padding-top: 235px;
  align-self: flex-start;
}
