.wheel-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wheel {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;

  font-size: 1px;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(4, 4, 19, 0.89);
  transition: font-size 1s;

  /* transform: translateZ(0); */
}

.wheel__wrap {
  box-sizing: border-box;
  width: 1520em;
  display: flex;
  justify-content: space-between;
  margin: auto;

  background-image: url(../img/line-neon-desctop.png);
  background-repeat: no-repeat;
  background-position: 82% 86%;
  background-size: 1080em;
}

.wheel__reel {
  flex-shrink: 0;
}

.wheel__thanks {
  display: block;
  width: 425em;
  align-self: center;
  margin: 0;
  padding: 0;

  font-size: 36em;
  line-height: 43em;
  font-weight: 700;
  text-align: center;
  color: rgb(255, 255, 255);
}

.wheel__close {
  background-color: none;
  border: none;
}

.wheel__form {
  box-sizing: border-box;
  padding-top: 100em;
  padding-left: 35em;
  padding-right: 15em;
  padding-bottom: 105em;
  margin-left: 30em;
}

.wheel__title {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-top: 1.6em;
  width: 20em;

  text-align: center;
  font-size: 30em;
  line-height: 1.28em;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.wheel__form-wrap {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.wheel__authorization {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 450em;
  margin: 0 auto;
}

.wheel__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 0.7em;
  align-self: center;
  text-align: center;
  padding: 0.6em;
  border: none;

  background-color: rgb(2, 6, 12);
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 27em;
  line-height: 1.35em;
  font-weight: 400;
  color: rgb(255, 255, 255);
  border-radius: 0.45em;
   box-shadow:
    0 0 0 0.02em rgb(255, 255, 255),
    0 0 0 0.04em rgba(255, 255, 255, 0.5),
    0 0 0 0.02em rgba(255, 255, 255, 0.5) inset;
}

.wheel__input:invalid {
  box-shadow:
    0 0 0 0.02em rgb(167, 26, 31),
    0 0 0 0.04em rgba(167, 26, 31, 0.6),
    0 0 0 0.02em rgba(167, 26, 31, 0.6) inset;
}

.wheel__input:focus {
  outline: none;
}

.wheel__input::placeholder {
  font-size: 1em;
  line-height: 1.5em;
  color: rgb(255, 255, 255);
}

.wheel__button {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  margin-top: 0.6em;
  padding: 0.8em;
  padding-top: 1em;
  border: none;
  border-radius: 0.45em;

  outline: none;
  cursor: pointer;
  background-color: rgb(204, 32, 39);
  font-weight: 400;
  font-size: 24em;
  line-height: 1em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.wheel__button:focus,
.wheel__button:hover {
  opacity: 0.7;
}

.wheel__button:active {
  opacity: 0.3;
}

.wheel__button:disabled {
  opacity: 1;
  background-color: rgb(86, 86, 86);
  cursor: default;
  color: rgb(145, 145, 145);
}

.wheel__privacy {
  align-self: flex-end;
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 560px;
  padding: 0;
  margin: 0 auto;
  padding-left: 60px;

  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-color: rgb(4, 9, 12);
  box-shadow: -5px 0 0 12px rgb(4, 9, 12);
}

.wheel__privacy::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  opacity: 1;
}

.wheel__privacy:focus::before,
.wheel__privacy:hover::before {
  opacity: 0.7;
  outline: none;
}

.wheel__privacy:active::before {
  opacity: 0.3;
}

.wheel__checkbox:checked~.wheel__privacy::before {
  background-image: url(../img/wheel-checkbox.png);
  background-repeat: no-repeat;
  background-position: 50%;
}

.wheel__privacy-link {
  color: rgb(204, 32, 39)
}

.wheel__counter {
  display: block;
  width: 100%;
  text-align: center;
  align-self: flex-end;
  margin: 0;
  padding: 0;

  font-size: 40px;
  line-height: 38px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.wheel__close {
  width: 85px;
  height: 85px;
  align-self: flex-start;
  flex-shrink: 0;
  padding-top: 20px;
  margin-top: 35px;
  background: none;
  background-image: url(../img/btn-close.png);
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: pointer;
}

.wheel__close:focus,
.wheel__close:hover {
  outline: none;
  opacity: 0.7;
}

.wheel__close:active {
  opacity: 0.3;
}

.wheel__booking-text {
  box-sizing: border-box;
  display: block;
  width: 480px;
  margin: 0 auto;
  padding: 0;
  padding-top: 40px;

  text-align: center;
  font-size: 36px;
  line-height: 43px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.wheel--vertical .wheel__wrap {
  width: 860px;
  min-height: 1500px;
  background-image: url(../img/line-neon-mobile.png);
  background-size: 750px;
  background-position: 34% 50%;
  position: relative;
}

.wheel--vertical .wheel__form {
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 95px;
  padding-right: 60px;
  height: 1400px;
  width: 715px;
}

.wheel--vertical .wheel__form-wrap {
  flex-direction: column;
  justify-content: space-between;
}

.wheel--vertical .wheel__title {
  width: 580px;
  padding-right: 10px;
  padding-top: 85px;
  margin-bottom: 45px;
}

.wheel--vertical .wheel__booking-text {
  padding-top: 85px;
  margin-bottom: 40px;
}

.wheel--vertical .wheel__authorization {
  flex-grow: 1;
}

.wheel--vertical .wheel__reel {
  order: 1;
  position: absolute;
  bottom: 170px;
  left: 48%;
  transform: translateX(-50%)
}

.wheel--vertical .wheel__button {
  padding-top: 0.8em;
}

.wheel--vertical .wheel__close {
  order: 1;
  margin-right: 10px;
}

.wheel--vertical .wheel__thanks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  
  height: 580px;
  padding-top: 100px;
  margin-left: 200px;
  align-self: flex-start;
}

.wheel--initial .wheel__thanks {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wheel--initial .wheel__booking-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wheel--initial .wheel__button-take {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wheel--initial .wheel__counter {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wheel--confirm .wheel__thanks {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wheel--confirm .wheel__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wheel--confirm .wheel__button-go {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wheel--confirm .wheel__privacy {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wheel--result .wheel__form {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}