/* подключить шрифт 'IBM Plex Sans' bold */
.wheel-timer {
  --scale: 1;

  position: fixed;
  padding-top:  calc(14px * var(--scale));
  padding-left: calc(30px * var(--scale));
  padding-right: calc(30px * var(--scale));
  padding-bottom: calc(12px * var(--scale));
  z-index: 10;
  left: 0;
  bottom: calc(30px * var(--scale));
  width: calc(380px * var(--scale));
  height: calc(135px * var(--scale));
  color: rgb(232, 229, 229);
  background-color: rgba(32, 34, 43, .9);
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
}

.wheel-timer__title {
  width: calc(315px * var(--scale));
  text-align: left;
  margin: 0 auto;
  margin-bottom: calc(10px * var(--scale));
}

.wheel-timer__title-text {
  font-size: calc(16px * var(--scale));
  line-height: calc(16px * var(--scale));
}

.wheel-timer__timer {
  width: calc(325px * var(--scale));
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.wheel-timer__wrap {
  width: calc(64px * var(--scale));
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wheel-timer__sign {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(30px * var(--scale));
  height: calc(56px * var(--scale));
  background-color: rgb(119, 122, 127);
  font-size: calc(34px * var(--scale));
  line-height: calc(34px * var(--scale));
  color: rgb(255, 254, 254);
}

.wheel-timer__sign {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(30px * var(--scale));
  height: calc(56px * var(--scale));
  margin-bottom: calc(13px * var(--scale));
  font-size: calc(34px * var(--scale));
  line-height: calc(34px * var(--scale));
  font-weight: 600;
  color: rgb(255, 254, 254);
}

.wheel-timer__desc {
  display: block;
  width: calc(65px * var(--scale));
  font-size: calc(12px * var(--scale));
  line-height: calc(12px * var(--scale));
  text-transform: uppercase;
  text-align: center;
}

.vertical.wheel-timer {
  width: 100%;
  bottom: calc(145px * var(--scale));
}
